<ion-header>
    <ion-toolbar>
        <ion-title stronge="true"> Devices </ion-title>
        <ion-buttons slot="end">
            <ion-button color="primary" stronge="true" (click)="blecheck()"> Scan </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-list>
        <button class="device" ion-item *ngFor="let device of devices" (click)="deviceSelected(device)">
            <div>
                <h3>{{ device.name || 'Unnamed' }}</h3>
            </div>
                     
            <div>
                <span> <strong>MAC : </strong>{{ deviceMac }} </span>
            </div>

            <div>
                <span> <strong>Id : </strong>{{ device.id }} </span>
            </div>

            <div>
                <span><strong>FlagByte : </strong> {{ flagByte }}</span> 
            </div>

            <div>
                <span><strong> RSSI : </strong>{{ device.rssi }}</span>
            </div>

        </button>
    </ion-list>

</ion-content>