.device {
    width: 90vw;
    position: center;
    text-align: center;
    background-color: rgb(64, 200, 224);
    border-radius: 10px;
}

div {
    padding-bottom: 1vh;
    padding-top: 1vh;
    width: 90vw;
}