<ion-header>
    <ion-toolbar>
        <ion-title stronge="true"> Devices </ion-title>
        <ion-buttons slot="end">
            <ion-button color="primary" stronge="true" (click)="scan()"> Scan </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <!--
    <ion-list>
        <ion-item color="dark" ion-item *ngFor="let device of devices">
            <ion-grid>
                <ion-row>
                    <ion-label> Name : {{ device.name || 'Unnamed' }} </ion-label>
                </ion-row>
                <ion-row>
                    <ion-label> UUID : {{ device.id }} </ion-label>
                </ion-row>
                <ion-row>
                    <ion-label> MAC : {{ device.mac }} </ion-label>
                </ion-row>
                <ion-row>
                    <ion-label> Flag : {{ device.flag }} </ion-label>
                </ion-row>
                <ion-row>
                    <ion-label> Batt : {{ device.batt }} </ion-label>
                </ion-row>

            </ion-grid>
            <hr>
        </ion-item>
    </ion-list>
-->
</ion-content>
